{% extends 'base.html' %}

{% block content %}
<div django-app="todostack">
    <div class="container  centerAlign">
            <div class="content centerAlign">
            <h1>To Do Stack!</h1>
            <p class="tagline">Set up your work!</p>
            <h1>
                <a href="manage" class="center">Click here to manage todos!</a>
            </h1>
            <form action="" method="post">
            {% csrf_token %} <!-- csrf token for basic security -->

                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Example: 10,30 ( for 10 hours 30 minutes )" name="workingTime" required>
                    <label for="workingTime">Time you have for work now</label>
                </div>

                <div class="row">
                    <button class="startApp" name="startApp" type="submit">Start the stack!</button>
                </div>
            </form>
            </div><!-- content -->

 </div><!-- container -->
</div>
{%  endblock %}
